.body{margin: 0;
    font-family: sans-serif;
    
    @media screen (min-width:768px){
        body {
         background-color: #0000000; }
     }
}
a{text-decoration: none;
color: rgb(255, 255, 255);
}

header{display: flex;
min-height: 90px;
background-color: gray;
justify-content: space-between;
padding: 10px;
align-items: center
}
    

.logo{display: flex;
align-items: center;
}

.logo img{height: 80px;
    margin-right: 10px;
}
nav a{ padding-right: 10px;
    font-weight: 600;
    
}
nav a:hover{color: chocolate;
}
@media(max-width:700px){
header{ 
    flex-direction: column;
}

nav {padding: 10px 0px;
    
}
}
.slider{width: 100%;
    height: 50%;
    margin:0;
    overflow: hidden;
}
.slider ul{display:flex;
animation: cambio 20s infinite alternate linear;
width: 400%;
padding: 0;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 600px;
 ;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
footer{ 
    background-color:gray;
    padding: 10px;

}
.bajo{text-decoration: none;
      text-align: right;
      list-style: none;
      margin:10;
    }
   .bajo a:hover{color: chocolate;
    }
.form{margin: 0;}

